.logo {
    display: flex;
    flex-direction: row;

    img {
        float: left;
        height: 60px;
    }
}

@media (max-width: 500px) {
    .logo {
        display: flex;
        justify-content: center;
    }
}