@import "../../styles/colors";

.quialification-form {
    color: #000000;
    background-color: #f0f8ffb8;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: -2px -2px 26px 1px rgba(0, 0, 0, 0.63);
    max-width: 580px;
    min-width: 320px;
    min-height: 568px;
    overflow: hidden;
    position: relative;
    padding: 20px;
    display: flex;
    margin-bottom: 10px;

    form {
        display: flex;
        flex-direction: column;

        .form-body {
            flex-grow: 1;
        }
    }

    .btn-free-month {
        border-radius: 25px;
        border: 0;
        padding: 10px 35px;
        background-color: #ee660b;
        color: $color-white;
        outline: 0;

        &:hover {
            background-color: #d45806;
            box-shadow: 0 0 4px 1px #757171ba;
        }
    }

    .form-title {
        h6 {
            color: #48a9e6;
            text-align: center;
            font-weight: bold;
        }

        p {
            font-weight: 500;
            font-size: 16px;
            text-align: center;
        }
    }

    label {
        font-weight: bold;
        color: #5e5d5d;
        padding: 10px 0 0 0;
        font-size: 16px;
    }

    .form-header {
        padding: 10px;
        min-height: 100px;
        text-align: center;
        background-color: #fff;

        p {
            color: rgb(61, 61, 61);
            font-weight: 500;
            font-size: 18px;
        }
    }

    .form-footer {
        position: relative;
        text-align: center;
        bottom: 0px;
        margin-top: 30px;
        padding: 5px 0;
        display: flex;
        justify-content: space-between;

        button {
            box-shadow: -1px 1px 12px -2px rgba(0,0,0,0.63);
            font-weight: bold;
        }
    }

    .btn-purple {
        background-color: $color-purple-2;
        color: $color-white;
    }
}